pkgbase = kitty-git
	pkgdesc = Cross-platform, fast, feature full, GPU based terminal emulator
	pkgver = r12192.g98c0b5638
	pkgrel = 1
	epoch = 1
	url = https://sw.kovidgoyal.net/kitty
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = libxinerama
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = libxkbcommon
	makedepends = mesa
	makedepends = wayland-protocols
	makedepends = python-sphinx
	makedepends = python-sphinx-copybutton
	makedepends = python-sphinx-inline-tabs
	makedepends = python-sphinxext-opengraph
	makedepends = python-sphinx-furo
	makedepends = go
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libcanberra
	depends = libgl
	depends = libpng
	depends = librsync
	depends = libx11
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = openssl
	depends = python
	depends = python-pygments
	depends = wayland
	depends = zlib
	source = git+https://github.com/kovidgoyal/kitty.git
	sha256sums = SKIP

pkgname = kitty-git
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libcanberra
	depends = libgl
	depends = libpng
	depends = librsync
	depends = libx11
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = openssl
	depends = python
	depends = python-pygments
	depends = wayland
	depends = zlib
	depends = kitty-terminfo-git
	depends = kitty-shell-integration-git
	optdepends = imagemagick: extra formats support for icat
	provides = kitty
	conflicts = kitty

pkgname = kitty-terminfo-git
	pkgdesc = Terminfo for kitty, an OpenGL-based terminal emulator
	arch = any
	depends = ncurses
	provides = kitty-terminfo
	conflicts = kitty-terminfo

pkgname = kitty-shell-integration-git
	pkgdesc = Shell integration scripts for kitty, an OpenGL-based terminal emulator
	arch = any
	depends = 
	provides = kitty-shell-integration
	conflicts = kitty-shell-integration
