pkgbase = hyprland-git
	pkgdesc = Dynamic tiling Wayland compositor that doesn't sacrifice on its looks
	pkgver = 0.25.0+r52+g90cb5fb6
	pkgrel = 1
	url = https://github.com/hyprwm/Hyprland
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = meson
	makedepends = vulkan-headers
	makedepends = glslang
	makedepends = wayland-protocols
	makedepends = jq
	depends = libdisplay-info
	depends = libinput
	depends = libliftoff
	depends = libxcomposite
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = seatd
	depends = systemd
	depends = xcb-util
	depends = xcb-util-errors
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xorg-xinput
	depends = xorg-xwayland
	source = hyprland::git+https://github.com/hyprwm/Hyprland.git
	source = git+https://github.com/hyprwm/hyprland-protocols.git
	source = git+https://gitlab.freedesktop.org/wlroots/wlroots.git
	source = git+https://github.com/canihavesomecoffee/udis86.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hyprland-git

pkgname = hyprland-git-devel
	pkgdesc = Dynamic tiling Wayland compositor that doesn't sacrifice on its looks - development files
