pkgbase = hyprland-git
pkgdesc = Dynamic tiling Wayland compositor that doesn't sacrifice on its looks
pkgver = v0.20.1beta+r0+gaf4b970
pkgrel = 1
url = https://github.com/hyprwm/Hyprland
arch = x86_64
license = BSD
makedepends = git
makedepends = cmake
makedepends = meson
makedepends = vulkan-headers
makedepends = glslang
makedepends = systemd
makedepends = wayland-protocols
makedepends = xorg-xwayland
makedepends = jq
depends = mesa
depends = xcb-util
depends = xcb-util-keysyms
depends = libinput
depends = libxcomposite
depends = xorg-xinput
depends = libxkbcommon
depends = pango
depends = xcb-util-renderutil
depends = xcb-util-wm
depends = seatd
depends = xcb-util-errors
depends = systemd
source = hyprland::git+https://github.com/hyprwm/Hyprland.git
source = git+https://github.com/hyprwm/hyprland-protocols.git
source = git+https://gitlab.freedesktop.org/wlroots/wlroots.git
sha256sums = SKIP
sha256sums = SKIP
sha256sums = SKIP

pkgname = hyprland-git

pkgname = hyprland-git-devel
pkgdesc = Dynamic tiling Wayland compositor that doesn't sacrifice on its looks - development files
depends = hyprland
provides = wlroots
conflicts = wlroots
